#case-studies-area {
  padding-top: 100px;
  padding-bottom: 150px;
  & .case-studies-content {
    & .case-studies-heading {
      margin-bottom: 50px;
      & h2 {
        position: relative;
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        line-height: 41px;
        &::before {
          content: "";
          position: absolute;
          background: $white;
          height: 3px;
          bottom: -8px;
          left: 50%;
          width: 140px;
          margin-left: -70px;
        }
      }
    }
    & .case-carousel {
      & .owl-nav {
        margin-top: -10px;
        position: absolute;
        left: 50%;
        display: inline-block;
        bottom: -24px;
        margin-left: -74px;
        & button {
          margin: 0;
          transition-duration: 200ms;
          &.owl-prev {
            position: relative;
            border-radius: 10px 0px 0px 10px;
            transition-duration: 200ms;
            & i {
              border-radius: 10px 0px 0px 10px;
              transition-duration: 200ms;
              &:hover {
                background: $orange;
              }
            }
            &::before {
              content: "";
              position: absolute;
              height: 39px;
              width: 2px;
              background: $dark-blue;
              right: 0;
              top: 16px;
            }
          }
          &.owl-next {
            border-radius: 0px 10px 10px 0px;
            & i {
              border-radius: 0px 10px 10px 0px;
              transition-duration: 200ms;
              &:hover {
                background: $orange;
              }
            }
          }
          & i {
            padding: 20px 24px;
            background: $white;
            font-size: 30px;
          }
        }
      }
    }
  }
  img {
    width: 100%;
  }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  #case-studies-area {
    & .owl-nav {
      bottom: -32px !important;
    }
  }
}
/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
  .case-studies-heading {
    & h2 {
      font-size: 20px !important;
    }
  }
}
